<div class="reviews">
  {% for review in food.reviews %}
  <div class="review">
    <div class="profile-pic">
      <img
        src="{{ url_for('static', filename='profile_pics/' + review.reviewer.image_file) }}"
        alt="Profile Picture"
      />
    </div>
    <div class="review-content">
      <div class="username">{{ review.reviewer.username }}</div>
      <div class="rating-stars">
        {% set filled_stars = 3 %} {% set empty_stars = 2 %} {% for _ in
        range(filled_stars) %}
        <span class="filled-star">★</span>
        {% endfor %} {% for _ in range(empty_stars) %}
        <span class="empty-star"></span>
        {% endfor %}
      </div>

      <h4 style="margin-left: 30px; vertical-align: middle; margin-top: 10px">
        {{ review.date_posted.strftime('%d-%m-%Y') }}
      </h4>
    </div>
    <div class="review-description">{{ review.description }}</div>
  </div>

  {% endfor %}
</div>
