<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      var prevScrollPos = window.pageYOffset;

      window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;

        if (prevScrollPos > currentScrollPos) {
          document.querySelector(".header").classList.remove("slide-up");
        } else {
          document.querySelector(".header").classList.add("slide-up");
        }

        prevScrollPos = currentScrollPos;
      };
    </script>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <h1><a class="navbar-brand mr-8" href="/">MunchMap</a></h1>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}"
                >Home</a
              >
              <a class="nav-item nav-link" href="{{ url_for('main.home2') }}"
                >Foods</a
              >
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <a
                class="nav-item nav-link"
                href="{{ url_for('restaurants.new_restaurant') }}"
                >Create Restaurant</a
              >
              <a class="nav-item nav-link" href="{{ url_for('users.account') }}"
                >{{ current_user.username }}</a
              >
              <a class="nav-item nav-link" href="{{ url_for('users.logout') }}"
                >Logout</a
              >
              {% else %}
              <a class="nav-item nav-link" href="{{ url_for('users.login') }}"
                >Login</a
              >
              <a
                class="nav-item nav-link"
                href="{{ url_for('users.register') }}"
                >Register</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-md-10">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div
            class="alert alert-{{ category }} custom-alert alert-dismissible fade show"
            role="alert"
          >
            {{ message }}
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock
          %}
        </div>
      </div>
      <div class="search-container">
        <form action="/search" method="GET">
          <input
            type="text"
            class="search-input"
            name="search"
            placeholder="Search..."
          />
          <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </header>

    <div class="box-container">
      {% for restaurant in restaurants.items %}
      <div class="box">
        <a
          href="{{ url_for('restaurants.search_by_location', location = restaurant.location) }}"
          class="location-tag"
        >
          {{ restaurant.location }}
        </a>
        <!-- <button class="location-tag">{{ restaurant.location }}</button> -->
        <a
          href="{{ url_for('restaurants.restaurant', restaurant_id = restaurant.id ) }}"
        >
          <img
            src="{{ url_for('static', filename='profile_pics/' + restaurant.image_file) }}"
            alt=""
          />
        </a>

        <!-- <h3>{{ restaurant.name }}</h3> -->
        <h3>
          <a
            href="{{ url_for('restaurants.restaurant', restaurant_id = restaurant.id ) }}"
            style="text-decoration: none"
            >{{ restaurant.name }}
          </a>
        </h3>
        <div
          class="rating"
          style="font-size: medium; margin-top: 0; color: blueviolet"
        >
          {% if restaurant.rating_count > 0 %} Rating : {{
          (restaurant.total_rating/restaurant.rating_count) | round(1) }} / 5.0
          {% else %} Rating : 0 / 5.0 {% endif %}
        </div>
        <a
          href="{{ url_for('restaurants.restaurant', restaurant_id = restaurant.id ) }}"
          class="btn"
        >
          See Items
        </a>
      </div>
      {% endfor %}
    </div>

    {% for page_num in restaurants.iter_pages(left_edge=1, right_edge=1,
    left_current=1, right_current=2) %} {% if page_num %} {% if restaurants.page
    == page_num %}
    <a
      class="btn btn-info mb-4"
      style="margin-left: 500px; margin-top: 30px; margin-bottom: 80px"
      href="{{ url_for('main.home', page=page_num) }}"
      >{{ page_num }}</a
    >
    {% else %}
    <a
      class="btn btn-outline-info mb-4"
      style="margin-left: 500px; margin-top: 30px; margin-bottom: 80px"
      href="{{ url_for('main.home', page=page_num) }}"
      >{{ page_num }}</a
    >
    {% endif %} {% else %} ... {% endif %} {% endfor %}
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    // Automatically close alerts after 5 seconds
    setTimeout(function () {
      $(".alert").alert("close");
    }, 5000);
  </script>
</html>
