@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
/* CSS styles */
body {
  background: #dfeeefd7;
  color: #c86a6a;
  margin-top: 10rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

a {
  color: black;
  font-size: large;
  font-weight: 1000;
}
.bg-steel {
  background-color: #066d89;
  height: 80px;
  position: absolute;
  transition: transform 0.3s ease;
  top: 0;
  left: 0;
  width: 100%;
}
.bg-steel.slide-up {
  transform: translateY(-100%);
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-size: medium;
  margin-right: 10px;
}
.site-header .navbar-brand {
  color: rgb(232, 226, 226);
  font-size: large;
  margin-right: 30px;
  border: #1f2223;
}
.site-header .navbar-brand:hover {
  color: rgb(232, 226, 226);
  scale: 1.2;
  border: #1f2223;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  scale: 1.1;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 600;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-heading {
  font-size: 2.5rem;
}
.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
.box-container {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.box-container .box {
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid rgba(26, 1, 1, 0.3);
  border-radius: 0.7rem;
  text-align: center;
  /* flex: 1 1 30%; */
  position: relative;
  min-width: calc(22%);
  max-width: calc(22%);
  max-height: 330px;
}
.box-container .box img {
  border: 1px solid rgb(194, 190, 190);
  height: 20rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
  transition: transform 0.5s ease;
}
.box-container .box img:hover {
  transform: scale(1.05);
}
.box-container .box button.location-tag {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background: #10874d;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 1;
}
.box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
  transition: transform 0.3s ease;
}
.box-container .box h3:hover {
  transform: scale(1.1);
}
.box-container .box .stars i {
  color: gold;
  font-size: 1.7rem;
  padding: 1rem 0.1rem;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  background-color: #0191b8;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0d47a1;
  color: white;
  animation: btn-animation 0.3s ease-in-out;
}

.search-bar {
  margin-top: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.search-input {
  width: 300px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-width: 2px;
  border-radius: 5px;
  font-size: medium;
}

.search-button {
  justify-content: center;
  background: #cad7dc;
  border: 1px solid #ccc;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 2px;
  height: 36px;
  width: 38px;
}

@keyframes btn-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.custom-alert {
  margin-left: 100px;
  width: 1000px;
  font-size: large;
}
