@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
/* CSS styles */
body {
  background: #fffcfc;
  color: #c86a6a;
  margin-top: 10rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #040404;
}
a {
  color: black;
  font-size: large;
  font-weight: 1000;
}

.bg-steel {
  background-color: #066d89;
  height: 100px;
  position: absolute;
  transition: transform 0.3s ease;
  top: 0;
  left: 0;
  width: 100%;
}
.bg-steel.slide-up {
  transform: translateY(-100%);
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-size: medium;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  scale: 1.1;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.site-header .navbar-brand {
  color: rgb(232, 226, 226);
  font-size: large;
  margin-right: 30px;
  border: #1f2223;
}
.site-header .navbar-brand:hover {
  color: rgb(232, 226, 226);
  scale: 1.2;
  border: #1f2223;
}
.content-section-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Adjust the number of columns as needed */
  grid-gap: 20px; /* Adjust the gap between grid items */
}
.content-section {
  background: #ffffff;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  height: 300px;
  width: 100%;
}

.box-container {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.box-container .box {
  margin-left: 12px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  /* flex: 1 1 30%; */
  position: relative;
  min-width: calc(22%);
}
.box-container .box img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}
.box-container .box button.location-tag {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background: var(--red);
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  background-color: #0191b8;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0d47a1;
  color: white;
  animation: btn-animation 0.3s ease-in-out;
}

.delete-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  background-color: #e54545;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #f40505;
  color: white;
  animation: btn-animation 0.3s ease-in-out;
}

.cut-image {
  padding: 5px;
  /* margin-right: 20px; */
  /* border: 1px solid black; */
  height: 200px;
  border-radius: 15px;
}

a {
  color: black;
  font-size: large;
  font-weight: 1000;
}

.search-bar {
  margin-top: 10px;
}

h1 {
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 700;
}

p {
  color: #383737;
  margin-bottom: 10px;
  font-size: medium;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.submit-button {
  justify-content: center;
  background: #ccc;
  border: 1px solid #ccc;
  border-width: 2px;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 2px;
  height: 38px;
  width: 38px;
}

@keyframes btn-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.review {
  display: flex;
  height: 230px;
  /* width: fit-content; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #f4fafa;

  /* width: 300px; Adjust width as needed */
  /* height: 40px; Adjust height as needed */
  /* padding: 5px; */
  /* border: 1px solid #ccc; */
  /* border-width: 2px; */
  /* border-radius: 5px; */
  /* padding: 5px; */
}

.profile-pic img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 75px;
  border: 1px solid black;
}

.review-content {
  /* display: flex; */
  margin-left: 25px;
  padding: 2%;
}

.review-content .username {
  text-align: center;
  height: 30px;
  width: fit-content;
  margin-top: 0;
  background-color: #e4f1fa;
  margin-left: 20px;
  scale: 1;
  color: black;
  font-weight: 700;
  border: 1px solid rgb(121, 165, 209);
  border-radius: 5px;
  padding: 2px;
  font-size: large;
}
.review-content p {
  margin-left: 20px;
  margin-bottom: 0;
  font-size: medium;
}

.form-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 10px;
  /* margin-right: 100px; */
}

.form-button:hover {
  background-color: #45a049;
}

.form-text {
  padding: 2%;
  font-size: medium;
  background-color: #f4fbd9;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 70px;
  height: 100px;
  width: 810px;
  margin-bottom: 5px;
}

.section {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 0 0 20%;
  padding-left: 50px;
  padding-right: 20px;
  /* border: 1px solid black; */
  /* border-radius: 75px; */
  width: 100px;
}

.own-profile-pic {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  /* margin-top: 10px; */
  /* margin-left: 20px; */
  border-radius: 75px;
  border: 1px solid black;
}

.content-container {
  flex: 0 0 30%;
  align-self: left;
}

.custom-alert {
  margin-left: 100px;
  width: 1000px;
  font-size: large;
}

.restaurant-details {
  display: flex;
  background-color: #cbd5db;
  /* text-align: center; */
  margin-top: 80px;
  width: 100%;
  /*      max-width: 800px;*/
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 240px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-container {
  flex-grow: 1;
}

.cover-image-container {
  margin-right: 20px;
  border: 1px solid rgb(164, 163, 163);
  height: 200px;
  width: fit-content;
  border-radius: 15px;
  background-color: #919aa9;
  margin-bottom: 20px;
}

.star-rating {
  display: flex;

  /* flex-direction: row-reverse; */
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  display: inline-block;
  padding: 4px;
  margin-left: 2px;
  margin-top: 5px;
  font-size: 24px;
  color: rgb(122, 118, 118);
  cursor: pointer;
  margin-bottom: 10px;
}

.star-rating input[type="radio"]:checked ~ label {
  color: yellow;
  padding: 5px;
  /* border: 1px solid black; */
}

.stars {
  direction: rtl;
  background-color: #e8ebfa;
  border: 1px solid black;
  border-radius: 5px;
}

.rating-stars {
  color: #ffd700;
  height: 30px;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  /* border: 1px solid black; */
}
.empty-star:before {
  content: "\2606"; /* Unicode character for an empty star */
}

.review-description {
  align-self: left;
  margin-left: 20px;
  height: fit-content;
  min-height: 20px;
  border: 1px solid rgb(178, 176, 176);
}
